body {
  margin: 0;
  padding: 0;
  font-family: "Archivo Black", sans-serif;
  font-size: 10px;
  background: #f7f2e6;
  display: block;
  height: 100%; }

h1 {
  font-size: 3em; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: #f4e23d; }

#left textarea, #right textarea {
  padding: 4em 0 0 8em;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background: #f7f2e6;
  line-height: 1.6em;
  font-size: 1.6em; }

.marked-top {
  font-family: "Open Sans", sans-serif;
  padding: 4em;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 50%;
  background: #f7f2e6;
  text-align: left; }

.marked-bottom {
  font-family: "Open Sans", sans-serif;
  padding: 4em;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background: #f7f2e6;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: left; }

.vertical-text {
  padding: 0.3em 0;
  margin: 3em 0;
  white-space: nowrap;
  width: 100%;
  float: left;
  transform: rotate(90deg); }

#nav {
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  z-index: 100; }
  #nav img {
    display: block;
    width: 30px;
    margin-bottom: 1.6em; }
  #nav img:hover {
    cursor: pointer; }

#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0; }
  #left textarea {
    font-family: "Open Sans", sans-serif; }

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-right: 0; }
  #right textarea {
    font-family: "Petit Formal Script", cursive; }

#spine {
  background: #f2ead7;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  border: 1px solid black; }

#login,
#signup {
  padding: 4em 8em;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.6em;
  color: black; }
  #login input, #login button,
  #signup input,
  #signup button {
    float: right;
    display: block; }
  #login .centered,
  #signup .centered {
    text-align: center; }
  #login a,
  #signup a {
    background: black;
    color: #f7f2e6; }
  #login a:hover,
  #signup a:hover {
    color: #f4e23d;
    background: none; }
