body {
  margin: 0;
  padding: 0;
  font-family: "Archivo Black", sans-serif;
  font-size: 10px;
  background: #f7f2e6;
  display: block;
  height: 100%; }

#left textarea, #right textarea {
  padding: 10em;
  box-sizing: border-box;
  border: solid 1px black;
  width: 100%;
  height: 100%;
  background: #f7f2e6;
  line-height: 1.6em;
  font-size: 1.6em; }

.marked-top {
  padding: 10em;
  box-sizing: border-box;
  border: solid 1px black;
  width: 100%;
  height: 50%;
  background: #f7f2e6; }

.marked-bottom {
  padding: 10em;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background: #f7f2e6;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black; }

h1 {
  font-size: 3em; }

.vertical-text {
  padding: 0.3em 0;
  margin: 3em 0;
  white-space: nowrap;
  width: 100%;
  float: left;
  transform: rotate(90deg); }

#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0; }

#left textarea {
  font-family: "Open Sans", sans-serif; }

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%; }

#right textarea {
  font-family: "Petit Formal Script", cursive; }

#spine {
  background: #f2ead7;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  border: solid 1px black; }
