$turq: #217596;
$nude: #f7f2e6;
$yello: #f4e23d;

$border: 1px solid black;
$ff: 'Archivo Black', sans-serif;
$f: 'Open Sans', sans-serif;
$flashy: 'Petit Formal Script', cursive;

body {
  margin: 0;
  padding: 0;
  font-family: $ff;
  font-size: 10px;
  background: $nude;
  display: block;
  height:100%;
}
h1 {
  font-size: 3em;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: $yello;
}
%full-text {
  padding: 4em 0 0 8em;
  box-sizing: border-box;
  border: $border;
  width: 100%;
  height: 100%;
  background: $nude;
  line-height: 1.6em;
  font-size: 1.6em;
}
.marked-top {
  font-family: $f;
  padding: 4em;
  box-sizing: border-box;
  border: $border;
  width: 100%;
  height: 50%;
  background: $nude;
  text-align: left;
}
.marked-bottom {
  font-family: $f;
  padding: 4em;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  background: $nude;
  border-right: $border;
  border-left: $border;
  border-bottom: $border;
  text-align: left;
}
.vertical-text {
  padding: 0.3em 0;
  margin: 3em 0;
  white-space: nowrap;
  width: 100%;
  float: left;
	transform: rotate(90deg);
}
#nav {
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  // border: solid 1px red;
  z-index: 100;
  img {
    display: block;
    width: 30px;
    margin-bottom: 1.6em;
  }
  img:hover {
    cursor: pointer;
  }
}
#left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  textarea {
    @extend %full-text;
    font-family: $f;
  }
}
#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  textarea {
    @extend %full-text;
    font-family: $flashy;
  }
  padding-right: 0;
}
#spine {
  background: darken($nude, 4%);
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  border: $border;
}
#login,
#signup {
  padding: 4em 8em;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.6em;
  color: black;
  input, button {
    float: right;
    display: block;
  }
  .centered {
    text-align: center;
  }
  a {
    background: black;
    color: $nude;
    //border-bottom: 3px solid $yello;
  }
  a:hover {
    color: $yello;
    background: none;
  }
}
